@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;500;600;700&display=swap");
@import "./variables.scss";
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: "Outfit", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

input {
  font-family: inherit;
}

.container {
  max-width: 1318px;
  margin: 0 auto;
  padding: 20px 60px;
  &-mini {
    padding: 20px 32px;
    max-width: 300px;
  }
}

.icon {
  &--gray {
    path {
      stroke: $gray-dark;
    }
  }
  &--filled {
    path {
      fill: $gray-dark;
    }
  }
  &--gold {
    path {
      fill: $gold;
    }
  }
}

.title {
  color: #fff;
  font-weight: 600;
  font-size: 26px;
  line-height: 33px;
}

.subtitle {
  font-size: 16px;
  color: $gray-light;
}

.list-page {
  background-color: $black-primary;
  height: 100vh;
  &__title {
    text-align: center;
    margin-bottom: 8px;
  }
  &__subtitle {
    text-align: center;
    margin-bottom: 32px;
  }
  &__movies {
    display: flex;
    gap: 36px;
    flex-wrap: wrap;
  }
}
