@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;500;600;700&display=swap");
@import "./variables.scss";
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: "Outfit", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

.container {
  max-width: 1318px;
  margin: 0 auto;
  padding: 20px 60px;
  &-mini {
    padding: 20px 32px;
    max-width: 236px;
  }
}

.icon {
  &--gray {
    color: $gray-dark;

    path {
      stroke: $gray-dark;
    }
  }
  &--filled {
    path {
      fill: $gray-dark;
    }
  }
}
