@import "../../assets/styles/variables.scss";

.about-us-page {
  background-color: $black-primary;
  height: 100vh;
  position: relative;
  z-index: 1;
  &__title {
    padding-top: 47px;
    font-size: 40px;
    font-weight: 700;
    max-width: 870px;
    line-height: 48px;
    margin-bottom: 36px;
    span {
      color: $accent;
    }
  }

  &__description {
    color: $gray-light;
    max-width: 545px;
    font-size: 16px;
    margin-bottom: 16px;
  }
  &__decorations {
    position: absolute;
    top: 30px;
    right: 500px;
  }
}
