@import "../../../assets/styles/variables.scss";

.menu__list-item {
  &-link {
    color: $gray-dark;
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 16px;
    display: flex;
    align-items: center;
    transition: 0.35s ease all;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      width: 2px;
      right: 0;
      top: 0;
      bottom: 0;
      height: auto;
      background-color: $accent;
      opacity: 0;
      transition: 0.35s ease all;
    }
    svg {
      width: 20px;
      height: 20px;
      margin-right: 8px;
      path {
        transition: 0.35s ease all;
      }
    }
    &--active {
      color: #fff;
      &:after {
        opacity: 1;
      }
      svg {
        path {
          fill: $accent;
        }
      }
    }

    &:hover {
      color: #fff;
      &:after {
        opacity: 1;
      }
      svg {
        path {
          fill: $accent;
        }
      }
    }
  }
}
