@import "../../assets/styles/variables.scss";

.card {
  width: 200px;
  height: 297px;
  border-radius: 20px;
  display: block;

  position: relative;
  &__image {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    z-index: 1;
  }
  &__hover {
    border-radius: 20px;
    background-color: rgb(0, 0, 0, 0.6);
    position: absolute;
    opacity: 0;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    transition: opacity 0.2s ease;
    z-index: 3;
    &-textbox {
      display: flex;
      flex-direction: column;
      position: absolute;
      justify-content: center;
      align-items: center;
      // bottom: 12px;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      text-align: center;
    }
    &-title {
      font-size: 20px;
      font-weight: 500;
      text-align: center;
      color: #fff;
    }
    &-subtitle {
      font-size: 14px;
      text-align: center;
      color: $white-light;
    }
  }
  &:hover {
    .card__hover {
      opacity: 1;
    }
  }
}
