@import "../../../assets/styles/variables.scss";

.button {
  color: #fff;
  background-color: $accent;
  padding: 8px 45px;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  cursor: pointer;
  transition: 0.2s ease all;
  &:hover {
    background-color: #cc223c;
  }
}
